<h1>Compañias</h1>

<table>
  <theader>
    <th>Nombre</th>
    <th>Opciones</th>
  </theader>
  <tbody id="companies">
    <% @companies.each do |company| %>
      <tr id="company_<%= company.id %>">
        <td><%= link_to company.name, company_path(company.id) %></td>
        <td><%= link_to 'borrar', company_path(company.id), method: :delete, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Agregar nueva empresa:</h3>
<%= form_with(model: @company) do |f| %>
  <%= f.label :nombre_de_la_compañia %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
